# Copyright 2021 VMware, Inc.
# SPDX-License-Identifier: BSD-2-Clause
---
platform: linux

inputs:
  - name: source
  - name: version

outputs:
  - name: build

run:
  path: /bin/bash
  dir: source
  args:
    - -exc
    - |
      export VERSION=$(cat ../version/version)
      make build-all
      cp build/* ../build
